<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Déjà capturés
      </mat-panel-title>
      <mat-panel-description>
        {{hunt?.caught?.length}} déjà capturés
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <app-hunt-item
        *ngFor="let item of hunt?.caught"
        [huntItem]="item"
        [isCaught]="true"
        (checkedItem)="release($event)"
      ></app-hunt-item>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        A Capturer !
      </mat-panel-title>
      <mat-panel-description>
        {{hunt?.uncaught?.length}} restants !
        <span class="spacer"></span>
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput [ngModel]="searchField" (ngModelChange)="refreshSearch($event)" placeholder="rechercher">
        </mat-form-field>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <app-hunt-item
        *ngFor="let item of catchable"
        [huntItem]="item"
        [isCaught]="false"
        (checkedItem)="catch($event)"
      ></app-hunt-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
